---
env:
  jasmine: true

globals:
  fixture: true
  expect: true
  sinon: true

rules:
  func-names: off
  no-console: off
  global-require: off
  no-unused-expressions: off
  no-use-before-define: off
  import/no-extraneous-dependencies: off
