# http://eslint.org/docs/user-guide/configuring

---
root: true
parser: esprima
extends: airbnb-base/legacy
plugins:
  - import

parserOptions:
  sourceType: module

env:
  browser: true

settings:
  import/resolver:
    webpack:
      config: bin/index.js

rules:
  no-debugger: 2
  no-tabs: off

  import/extensions:
    - error
    - always
    - js: never

  import/no-extraneous-dependencies:
    - error
    - optionalDependencies:
      - test/index.js

  indent:
    - 2
    - tab
    - SwitchCase: 1
